<div id="menu-bar">
    <h1>Pedidos</h1>  
    <a class="newOrderButton" href="#!/newOrder">Añadir Pedido</a> 
    <ul>
        <li><a href="#!/home">Borradores</a></li>
        <li><a href="#!/requested">Solicitados</a></li>
        <li><a href="#!/finished">Completados</a></li>
    </ul>
</div>