<div class="content">
    <h1>Editar Pedido</h1>
        <div class="orderOptionsContainer">
                <p>Nombre del Cliente</p>
                <input type="text" ng-model="clientName" ng-value="currentOrder.customer">
                <form class="orderOptions" ng-submit="sendToRequested()">
                <input type="submit" value="Enviar">
                </form>
                <form class="orderOptions" ng-submit="saveOrder()">
                <input type="submit" value="Guardar">
                </form>
        </div>
        <ul>
            <li ng-repeat="product in currentOrder.products track by $index">
                <h3>{{product}}</h3>
                <div class="remove" ng-click="removeProduct(product)">X</div>
            </li>
        </ul>
        <form ng-submit="addProduct()">
                <select ng-model="selectedProduct" ng-options="product.name for product in availableProducts">                
                </select>
                <input type="submit" value="Agregar">
        </form>
</div>