<div class="content">
    <header ng-include="'header.html'"></header>
        <h1>Completados</h1>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Usuario</th>
                    <th>Productos</th>
                    <th>Fecha</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="finishedOrder in finishedOrdersList">
                    <td >{{finishedOrder._id}}</td>
                    <td >{{finishedOrder.customer}}</td>
                    <td >{{finishedOrder.products.length}}</td>
                    <td >{{finishedOrder.date}}</td>
                    <td><a href="#!viewOrder/{{finishedOrder._id}}">Ver</a></td>
                </tr>
            </tbody>
        </table>
</div>