<div class="content">
    <header ng-include="'header.html'"></header>
    <h1>Borradores</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Productos</th>
                <th>Fecha</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="draftOrder in draftOrdersList">
                <td >{{draftOrder._id}}</td>
                <td >{{draftOrder.customer}}</td>
                <td >{{draftOrder.products.length}}</td>
                <td >{{draftOrder.date}}</td>
                <td><a class="editButton" href="#!editOrder/{{draftOrder._id}}">Ver</a></td>
                <td><button class="deleteOrderButton" ng-click="deleteOrder(draftOrder)">Eliminar</button></td>
            </tr>
        </tbody>
    </table>
</div>