<div class="content">
        <header ng-include="'header.html'"></header>
            <h1>Solicitados</h1>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Usuario</th>
                        <th>Productos</th>
                        <th>Fecha</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="requestedOrder in requestedOrdersList">
                        <td >{{requestedOrder._id}}</td>
                        <td >{{requestedOrder.customer}}</td>
                        <td >{{requestedOrder.products.length}}</td>
                        <td >{{requestedOrder.date}}</td>
                        <td><a href="#!viewOrder/{{requestedOrder._id}}">Ver</a></td>
                    </tr>
                </tbody>
            </table>
</div>