<div class="content">
    <h1>Detalles Pedido</h1>
    <p>Nombre</p>
    <input type="text" ng-model="clientName" ng-value="currentOrder.customer" readonly>
        <ul>
            <li ng-repeat="product in currentOrder.products track by $index">
                <h3>{{product}}</h3>
            </li>
        </ul>
</div>