body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    }
.orderOptionsContainer{
  display: block;
  margin-bottom: 5em;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: rgb(2, 10, 77);
  color: white;
}
.content{
    padding: 20px;
  }
  .content input[type="submit"]{
    background: rgba(24, 107, 202, 0.692);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    border: 0;
    box-shadow: 2px 2px 2px rgba(20,20,20,0.1);
    font-size: 16px;
  }
  .content button,
  {
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    border: 0;
    box-shadow: 2px 2px 2px rgba(20,20,20,0.1);
    font-size: 16px;
  }
  .content input{
    font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:1px solid #757575;
  }
  .content:focus{ 
    outline:none; 
  }

  .content button:nth-child(2){
    float: right;
  }
  
  .content ul{
    padding: 0;
    list-style-type: none;
    margin: 30px 0;
  }
  
  .content li{
    padding: 15px 0;
    color: black;
  }
  
  .content li span{
    float: right;
  }
  
  .content li h3{
    display: inline-block;
    font-weight: normal;
    font-size: 22px;
  }
  
  .content select{
    width: 90%;
    padding: 10px 5%;
    border-radius: 10px;
    border: 2px solid #ddd;
    margin: 10px 0;
  }
  
  .content input[type="submit"]:last-child{
    width: 150px;
    display: block;
    margin: 15px auto;
  }
  .remove{
    float: right;
    padding: 5px;
    background: crimson;
    width: 18px;
    text-align: center;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    margin-left: 10px;
  }
  .newOrderButton{
    float:right;
    margin-top: 1%;
    background-color: #464F70;  
    border-radius: 5px;
    color: white;
    padding: .5em;
    text-decoration: none;
    
}
.newOrderButton:hover {
    background-color: #464F70;
    color: White;
    cursor: pointer;
  }
  .deleteOrderButton{
    margin-top: 1%;
    float: right;
    background-color: rgb(212, 47, 47);  
    border-radius: 5px;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: .5em;
    padding-bottom: .5em;     
    text-decoration: none;
    margin-bottom: 5%;
    font-size: .9em;
}
.deleteOrderButton:hover {
    background-color: rgb(117, 10, 10);
    cursor: pointer;
  }
  #menu-bar{
    padding-bottom: 2vh;
  }
  #menu-bar h1{
    font-size: 3em;
  }
  #menu-bar li{
    display: inline;

  }
  #menu-bar li a{
    background-color: rgb(12, 22, 114);  
    border-radius: 5px;
    color: white;
    padding: .5em;
    text-decoration: none;   }
  #menu-bar ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .orderOptions{
    float:right;
    margin-right: 3vh;
    margin-bottom: 4vh;
  }
  .editButton{
    background-color: rgb(10, 95, 15);
    color: white;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: .5em;
    padding-bottom: .5em; 
    text-decoration: none;
  }
  editButton:hover {
    background-color: #04c434;
  }
  
  editButton:active {
    box-shadow: none;
    top: 5px;
  }